@font-face{ 
	font-family: 'MyWebFont';
	src: url('WebFont.eot');
	src: url('WebFont.eot?iefix') format('eot'),
	     url('WebFont.woff') format('woff'),
	     url('WebFont.ttf') format('truetype'),
	     url('WebFont.svg#webfont') format('svg');
}
.navbar-toggler:hover{
	background: #EF2970 !important;
}
.nav-link:hover{
color: #EF2970 !important;
}
ul.justify-content-lg-start
.img{
	float: left;
}
#menu{
	position: fixed;
}
.interet{
	font-size:2.5em ;
	font-weight: bold;
	color: #EF2970;
}